<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.app.dao.RemindDao">

	<select id="selectByTargetId" resultType="com.example.app.domain.Remind">
		SELECT * FROM reminds WHERE target_id = #{targetId}
	</select>

	<delete id="delete" parameterType="int">
		DELETE FROM reminds WHERE id = #{id} 
	</delete>
	
	<insert id="insert" parameterType="com.example.app.domain.Remind"
			useGeneratedKeys="true" keyProperty="id"> 
		INSERT INTO reminds (
			document_id, member_id, target_id,
			start_date, end_date, description, created
		) VALUES (
			#{documentId}, #{memberId}, #{targetId},
			#{startDate}, #{endDate}, #{description}, NOW()
		)
	</insert>
</mapper>